body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .homepage{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    font-family: "Public Sans";
    width: 1,920px;
    height: 1,822px;
    cursor: pointer;
    
  
  
  }
  /* phần bên trái*/
  .dashboard{
   
    width:200px;
    height: 300px;
    border-radius: 4px;
    border: 1px solid rgba(228, 231, 233, 1);
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08);
    margin-top: 30px;
  }
  .dashboard ul li{
    list-style: none;
  }
  .dashboard ul{
    padding: 0;
  }
  .dashboard  ul li a{
    text-decoration: none;
    color:  rgba(95, 108, 114, 1);
    padding-top: 10px;
    display: block;
    justify-content:center;
    align-items: center;
    font-size: 10px;
    font-family: "Public Sans";
  }
  .hover li a img{
    width: 15px;
    height: auto;
    padding-right:10px ;
   
  }
  .hover{
  padding-left: 20px;
  }
  .hover:hover{
    background-color:  rgba(250, 130, 50, 1);
    color: white;
  }
  .hover a:hover{
    color: white;
  }
  .hover img{
    transition: filter 0.5s ease;
  }
  .hover img:hover{
    filter: white(100%);
  }

  
  .mid-content{
    width: 800px;
    height: 220px;
    border: 1px solid rgba(228, 231, 233, 1);
    border-radius: 4px;
    margin-top: 20px;
}
.payment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid rgba(228, 231, 233, 1) ;
}
.payment .payment-option{
    padding-left: 20px;
}
.payment .payment-option p{
    font-size: 10px;
    font-weight: 580;
}
.add-card{
    padding-right: 20px;
    
    
}
#addCard{
    background-color: white;
    font-size: 10px;
    font-weight: 600;
    color: rgba(250, 130, 50, 1);
    border: 1px solid white;
}
#arrr{
    position: relative;
    top: 4px;
    left: 5px;
}

.visa #visacard{
    width: 250px;
    height: 150px;
    position: relative;
    top: 20px;
    
}
.visa #mastercard{
    width: 250px;
    height: 150px;
    position: relative;
    top: 20px;
    left: -10px;
}


.options-container {
    position: absolute;
    width: 100px; /* Adjust the width as needed */
    height: 60px;
    background-color: white;
    border: 1px solid rgba(228, 231, 233, 1);
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.options-container button {
    font-family: "Public Sans";
    background-color: white;
    color: rgba(95, 108, 114, 1);
    border: 1px solid white;  
    padding: 5px 10px;
    font-size: 11px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px 0;
}

.options-container button:hover {
    background-color: #f0f0f0;
}

.top-content{
   display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
.top-content{
    margin-top: 20px;
}
.mid{
    width: 392px;
    height: 250px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid rgba(228, 231, 233, 1);
}
.mid .headingB p{
    font-size: 10px;
    font-weight: 580;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid  rgba(228, 231, 233, 1);
}
.mid .name{
    padding-left: 20px;
}
.mid .name .kevin{
   font-size: 12px;
   font-weight: 600;
}
.mid .name .phonenumber{
    margin-top: -8px;
}
.mid .name .emailB{
    margin-top: 4px;
}
 
.buttonB{
    padding-left: 20px;
    margin-top: 19px;
}
.buttonB #btnb{
    width: 120px;
    height: 38px;
    background-color: white;
    color: rgba(45, 165, 243, 1);
    font-family: "Public Sans";
    font-size: 10px;
    font-weight: bold;
    border: 1px solid rgba(45, 165, 243, 1);
    border-radius: 2px 2px 2px 2px;
}
