body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Public Sans", sans-serif;
}

.resetpassword {
  width: 300px; /* hoặc điều chỉnh theo nhu cầu */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}
.text .text1 {
  font-size: 15px;
  font-weight: 600;
}
.text .text2 {
  font-size: 11px;
  color: rgba(95, 108, 114, 1);
}
.pass1 p {
  font-size: 11px;
  font-weight: 500;
  position: relative;
  right: 115px;
}
input {
  width: 250px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid rgba(228, 231, 233, 1);
  padding-left: 15px;
}
::placeholder {
  color: rgba(119, 135, 143, 1);
  font-size: 11px;
  font-family: "Public Sans";
}
.pass2 p {
  font-size: 11px;
  font-weight: 500;
  position: relative;
  right: 93px;
}
.pass2 input[type="password"] {
  width: 250px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid rgba(228, 231, 233, 1);
}
.btnreset {
  margin-top: 15px;
}
.btnreset button {
  width: 255px;
  height: 40px;
}
button {
  background-color: #fa8232;
  color: white;
  border: 1px solid white;
  border-radius: 2px;
}
button p {
  font-size: 11px;
  font-weight: 500;
  font-family: "Public Sans";
}
