* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans";
}
body {
  width: 100%;
}
header {
  height: 220px;
  font-size: 10px;

  cursor: pointer;
}
.all-category {
  position: relative;
}
.cate {
  width: 80px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid;
  background-color: rgba(250, 130, 50, 1);
  color: white;
}
.cate p {
  margin-left: 8px;
  margin-top: 8px;
}
.dropdown {
  width: 200px; /* Adjust the width as needed */
  height: 280px;
  position: absolute;
  top: 130px;
  left: 270px; /* Move to the left slightly */
  transform: translate(-50%, -50%);
  border-radius: 3px;
  border: 1px solid rgba(228, 231, 233, 1);
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.12);
  z-index: 9999;
  background-color: white;
  box-shadow: 0px 8px 24px rgba(25, 28, 31, 0.12);
  position: relative;
  display: none;
}
.dropdown .a {
  font-size: 11px;
  color: rgba(95, 108, 114, 1);
  margin-top: 10px;
  padding-left: 10px;
}
.dr div:hover {
  color: black;
  background-color: #f2f4f5;
}
.container {
  width: 694px;
  height: 345px;
  display: flex;
  padding: 17px;
  gap: 17px;
  position: absolute;
  left: 210px;
  top: -28px;
  z-index: 9999;
  background-color: white;
  box-shadow: 0px 8px 24px rgba(25, 28, 31, 0.12);
}
.select div {
  width: 130px;
  height: 28px;
  padding-left: 14px;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #475156;
  cursor: pointer;
  border-radius: 3px;
}
.select div:hover {
  color: black;
  background-color: #f2f4f5;
}
.SP_div1 {
  border: 0.5px solid rgb(228, 231, 233);
  height: 83px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  text-decoration: none;
  color: black;
}
.SP_img {
  width: 64px;
  height: 64px;
}
.SP_div1-1 {
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#product {
  cursor: pointer;
  transition: 0.3s ease;
}
#product:hover {
  box-shadow: 0px 8px 24px rgba(25, 28, 31, 0.12);
}
.SP_div {
  width: 249px;
  height: 306px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.CA_div2-1 {
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f7e99e;
  border-radius: 4px;
}
.CA_div2-1 div {
  width: 84px;
  height: 84px;
}
button {
  width: 197px;
  height: 40px;
  font-size: 12px;
  cursor: pointer;
  background-color: #fa8232;
  border: none;
  border-radius: 2px;
  color: white;
  font-weight: 600;
}
.top {
  width: 100%;
  height: 52px;

  gap: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0px;
  background: rgba(27, 99, 146, 1);
  box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.16) inset;
  color: rgba(255, 255, 255, 1);
}
header nav {
  width: 100%;
}
.text {
  font-family: "Public Sans";
  font-size: 10px;
  font-weight: 400;
  line-height: 20px;
}
.left {
  display: flex;
  align-items: center;
}
.follow-us {
  width: 65px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 1);
  margin-right: 14px;
}
.social-icon ul {
  list-style: none;
  display: flex;
  margin-right: 10px;
  padding: 0;
}
.social-icon ul li img {
  margin-right: 12px;
  width: 11px;
  height: auto;
}
#language-select,
#currency-select {
  background-color: rgba(27, 99, 146, 1);
  border: 1px solid rgba(27, 99, 146, 1);
  border-radius: 1px;
  color: white;
  font-size: 10px;
}

.mid {
  width: 100%;
  height: 88px;
  background-color: rgba(27, 99, 146, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img {
  margin-left: 25px;
}
h1 {
  width: 120px;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: left;
  color: white;
}

.icons ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons ul li img {
  margin-right: 10px;
  width: 20px;
  height: auto;
}
header nav.mid .search-btn input[type="search"] {
  width: 450px;
  height: 40px;
}
.search-btn img {
  width: 15px;
  height: auto;
  vertical-align: middle;
  position: absolute;
  right: 460px;
  top: 89px;
  width: 15px;
  height: auto;
}
.bottom {
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}
.bottom-right ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 10px;
}
.bottom-right ul li a {
  text-decoration: none;
  color: #5f6c72;
}
.bottom-right ul li a img {
  width: 18px;
  height: auto;
  gap: 15px;
  vertical-align: middle;
  position: relative;
  right: 5px;
}
.bottom-left .sdt {
  font-size: 13px;
}
.bottom-left .sdt img {
  width: 18px;
  height: auto;
  vertical-align: middle;
  position: relative;
  right: 3px;
}
.signin {
  position: absolute;
  right: 290px;
  top: 130px;
  display: none;
}
.signin {
  width: 300px; /* hoặc điều chỉnh theo nhu cầu */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}
.text p {
  font-size: 14px;
  font-weight: 600;
}
.textemail {
  margin-right: 200px;
}
.textemail p {
  font-size: 11px;
  font-weight: 500;
  width: 90px;
}
.email input[type="text"] {
  width: 265px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid rgba(228, 231, 233, 1);
}
.textpass {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textpass p {
  font-size: 11px;
  font-weight: 500;
  margin-left: 12px;
}
.password {
  width: 265px;
  height: 30px;
  position: relative;
}
.password img {
  position: absolute;
  top: 6px;
  right: 15px;
}
.password input[type="password"] {
  width: 265px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid rgba(228, 231, 233, 1);
}
.button1 {
  margin-top: 20px;
  width: 270px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.btn1 .button1 {
  width: 270px;
  height: 40px;
}
.button1 {
  background-color: rgba(250, 130, 50, 1);
  color: white;
  border-radius: 2px;
  border: 1px solid rgba(228, 231, 233, 1);
}
.button1 p {
  font-size: 11px;
  font-weight: 600;
  font-family: "Public Sans";
}
.createtext {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.createtext p {
  color: rgba(119, 135, 143, 1);
  font-size: 11px;
}

.btn2 {
  margin-top: 10px;
}
.btn2 .button2 {
  width: 270px;
  height: 40px;
}
.button2 {
  background-color: white;
  color: rgba(250, 130, 50, 1);
  border-radius: 2px;
  border: 1px solid rgba(228, 231, 233, 1);
}
.button2 p {
  font-size: 11px;
  font-weight: bold;
  font-family: "Public Sans";
}
