body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --body-xl-600: "Public Sans";

  /* font sizes */
  --body-xl-600-size: 20px;
  --heading-07-size: 14px;

  /* Colors */
  --gray-00: #fff;
  --gray-100: #e4e7e9;
  --gray-500: #77878f;
  --gray-900: #191d1f;
  --gray-700: #475156;
  --primary-500: #fa8232;
  --secondary-500: #2da5f3;

  /* Gaps */
  --gap-5xs: 8px;

  /* Paddings */
  --padding-base: 16px;

  /* Border radiuses */
  --br-11xs: 2px;

  /* Effects */
  --dropdown-shadow: 0px 8px 40px rgba(0, 0, 0, 0.12);
}
